-e git+https://github.com/danilocgsilva/AWSUtils.git@master#egg=awsutils
-e git+https://github.com/danilocgsilva/aws-sg.git@master#egg=awssg
-e git+https://github.com/danilocgsilva/aws-data-mock.git@master#egg=aws_api_mock
-e git+https://github.com/danilocgsilva/danilocgsilvamepythonhelpers.git@master#egg=danilocgsilvame_python_helpers
-e git+https://github.com/danilocgsilva/wimi-api.git@master#egg=wimiapi
-e git+https://github.com/danilocgsilva/ask_list.git@main#egg=dcgsasklist
-e git+https://github.com/danilocgsilva/cli-ask-python.git@main#egg=cli_ask
boto3
requests
scp